:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #2c3e50;
  background-color: #f4f7f6; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block; 
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; 
  
}

a {
  font-weight: 500;
  color: #3498db;
  text-decoration: inherit;
}

a:hover {
  color: #2980b9;
}

* {
  box-sizing: border-box;
}